/****** PLACE YOUR CUSTOM STYLES HERE ******/

.menu > li > ul li a {
  margin-left: 6px;
}

.menu > li ul {
  min-width: 200px;
  width: auto;
}

.accordion-1 .title {
  padding-left: 32px;
}

.accordion-1 .text-center p a {
  display: block;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
